*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: antiquewhite;
}
#wrapper{
    width: 100%;
    background-color: #d6d6d6;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
#left{
    width: 25%;
    min-height: 350px;
    padding: 5px;
    background-color: white;
    border: 1px solid orange;
    border-radius: 15px;
}
#right{
    width: 75%;
    min-height: 350px;
    padding: 5px;
    background-color: white;
    border: 1px solid orange;
    border-radius: 15px;
    gap: 5px;
}

#title{
    min-height: 60px;
    background-color: orange;
    color: white;
    border: 1px solid yellow;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title span {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#toolbar {
    min-height: 40px;
    background-color: gainsboro;
    border: 1px yellow;
}
